<script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
<script src="https://code.highcharts.com/gantt/modules/draggable-points.js"></script>
<script src="https://code.highcharts.com/gantt/modules/accessibility.js"></script>
<style>
    #container {
        max-width: 100%;
        margin: 1em auto;
    }

    #filter label {
        margin-right: 15px;
    }
</style>
<div id="filter"></div>
<div id="container"></div>
<script>
    //https://automic-th.global.lotuss.org:8088/ae/api/v1/ping
    
    var rawData = `ID	Name	Start Time	End Time	Runtime	System	Topics	Phase	Parent
1	ReSA -> RMS (Sales)​	C23:30:00	T02:00:00		ReSA	RMS.UPLOADSALES_ALL -> RMS.SALESPROCESS ​(10PM activation)​	Sale	
2	ReSA -> Azure (Sales)​	T01:00:00	T02:00:00		ReSA	WF.CP_AZURE_RESA_EXTRACT​	Sale	
3	Nightly Job VDATE Change	T06:45:00	T07:00:00		RMS	RMS.DTESYS​	Sale	
4	RMS Application is up​	T07:00:00	T07:01:00		RMS	RMS_APP_START​	Sale	
5	RMS -> BY (SOH)	T02:00:00	T02:30:00		RMS	JOBP.SCH_BUY_160in WF.CP_AVAIL_STOCK_BY​	Sale	1
6	BY -> RMS (SOQ)	T05:30:00	T07:00:00		RMS	*Runs half-hourly (from 2.30am to 8am) | Previous Day: 5am, 6.30am - JOBP.SCH_BUY_156 in WF.CP_PO_BY_NIGHTY​	Sale	
7	RMS SOQ Processing	T06:00:00	T07:30:00		RMS	*Runs half-hourly (from 2.30am to 8am) | *After VDATE Change.​ - RMS.CP_PO_BY in WF.CP_PO_BY_NIGHTY​	Sale	
8	RMS -> TIMS (PO)	T06:30:00	T09:00:00		RMS	*Runs every 15-minutes (once RIB is up)​ - JOBP.SCH_BUY_59234 in WF.CP_PO_TIMS after above​	Sale	
9	RMS -> WMS (PO & Transfer)	T07:30:00	T12:00:00		RMS	 Via RIB-SOA after SOQ processing *Near Real-time​	Sale	
10	RMS -> SL (PO & Transfer)	T07:30:00	T12:00:00		RMS	Via RIB-SOA after SOQ processing *Near Real-time​	Sale	
11	RMS -> Azure (Transaction Data)	T02:00:00	T02:30:00		RMS	RMS.CP_ODI_AZURE_FILE_WATCHER after RMS.CP_ODI_AZURE_PRE after SALSTAGE​	Sale	1
12	RMS -> Azure SOH Data​	T02:00:00	T02:30:00		RMS	RMS.CP_AZURE_ILS_DATA_EXTRACT​	Sale	1
13	Azure report generation	T02:30:00	T08:00:00		Azure	[Job run and tracked in Azure, not UC4]​	Sale	12
14	REIM.POSTING	T03:45:00	T05:00:00		REIM	(2 runs in WF.CP_REIM_CUSTOM_NIGHTLY)​	Sale	
15	RIB restart	T05:15:00	T05:30:00		SOA	RIB_APP_STOP & RIB_APP_START​	Sale	`;
    var hour = 1000 * 60 * 60;
    var currentDate = new Date().toISOString().split('T')[0];
    var tmrDate = new Date(new Date().getTime() + (24 * hour)).toISOString().split('T')[0];
    var datas = rawData.split('\n').splice(1).map((line)=>{
        var columns = ["id","name","startTime","endTime","runtime","runningSystem","topics","phase","parent"]
        var parseDate = (str)=>{
            if(str.startsWith('C'))
                return currentDate+''+str.replace('C','T')+'.000+0700';
            else
                return tmrDate+''+str+'.000+0700';
        }
        return line.split('\t').reduce((o,i,ind)=>{
            if(ind==2||ind==3) {""
                o[columns[ind]] = parseDate(i);
                if(ind==3) {
                    o["estimatedEndTime"] = o[columns[ind]]
                }
            } else {
                o[columns[ind]] = i;
            }
            return o
        },{});
    })

    
    var groups = datas.reduce((r, i) => { r[i.phase] = r[i.phase] || { name: i.phase, id: i.phase, collapsed: false, count: 0 }; r[i.phase].count++; return r; }, {});
    groups = Object.keys(groups).map((i) => { return groups[i] })
    var jobs = datas.map((i, x) => { return { name: i.name, id: i.id, start: new Date(i.startTime).getTime() + (7 * hour), end: new Date(i.endTime).getTime() + (7 * hour), parent: i.phase, dependency: (i.parent!='')?i.parent:null, meta: i } }).sort((a, b) => { return (a.start > b.start) ? 1 : -1; });
    var min = Math.min.apply(null, jobs.map((i) => { return i.start }));
    var max = Math.max.apply(null, jobs.map((i) => { return i.end }));
    var allDatas = groups.concat(jobs);

    var filter = document.getElementById('filter');
    groups.forEach((i) => {
        var input = document.createElement('input');
        input.setAttribute('type', 'checkbox');
        input.setAttribute('name', i.name);
        input.setAttribute('id', i.name);
        input.setAttribute('checked', true);

        var label = document.createElement('label');
        label.setAttribute('for', i.name);
        label.append(i.name);
        filter.append(input);
        filter.append(label);
        input.addEventListener('change', function () {
            var selected = [];
            document.querySelectorAll('input').forEach((e) => {
                if (e.checked) {
                    selected.push(e.getAttribute('name'))
                }
            })
            var newDatas = allDatas.filter((o) => {
                return (selected.indexOf(o.name) != -1 || selected.indexOf(o.parent) != -1);
            });
            chart = renderChart(newDatas);
        })
    })

    var renderChart = function (data) {
        return Highcharts.ganttChart('container', {
            chart: {
                spacingLeft: 1,
                zoomType: 'x',
                panning: {
                    enabled: true, 
                    count: 1,
                    type: 'x',
                },
                panKey: 'shift',
            },
            scrollbar: {
                enabled: true
            },
            tooltip: {
                formatter: function () {
                    var opts = this.point.options;
                    var tips = '<b>'
                        + opts.name + ((opts.count) ? '(' + opts.count + ')' : '')
                        + '</b><br/><b> Start : </b>'
                        + new Date(opts.start).toISOString().split('.')[0].replace('T', ' ')
                        + '<br/><b> End : </b>'
                        + new Date(opts.end).toISOString().split('.')[0].replace('T', ' ')

                    if (opts.meta) {
                        tips += '<br/><b> Estimated : </b>'
                            + new Date(new Date(opts.meta.estimatedEndTime).getTime() + (7 * hour)).toISOString().split('.')[0].replace('T', ' ')
                            + '<br/><b> Detail : </b>'
                            + (opts.meta.topics || '-')
                            + '<br/><b> System : </b>'
                            + (opts.meta.runningSystem || '-')
                            + '<br/><b> Phase : </b>'
                            + (opts.meta.phase || '-')
                    }

                    return tips;
                }
            },
            title: {
                text: 'Jobs Dependency'
            },
            xAxis: {
                //min: min - (6 * hour),
                //max: max + (6 * hour)
            },
            yAxis: {
                //uniqueNames: true
            },
            navigator: {
                enabled: true,
                liveRedraw: true,
                series: {
                    type: 'gantt',
                    pointPlacement: 0.5,
                    pointPadding: 0.25,
                    accessibility: {
                        enabled: false
                    }
                },
                yAxis: {
                    min: 0,
                    max: 3,
                    reversed: true,
                    categories: []
                }
            },
            rangeSelector: {
                enabled: true,
                selected: 0
            },
            accessibility: {
                keyboardNavigation: {
                    seriesNavigation: {
                        mode: 'serialize'
                    }
                },
                point: {
                }
            },
            lang: {
                accessibility: {
                    axis: {
                        xAxisDescriptionPlural: 'The chart has a two-part X axis showing time in both week numbers and days.'
                    }
                }
            },
            plotOptions: {
                series: {
                    showInLegend: true,
                    animation: false, // Do not animate dependency connectors
                    dragDrop: {
                        draggableX: true,
                        draggableY: true,
                        dragMinY: 0,
                        dragMaxY: 2,
                        dragPrecisionX: hour / 12 // Snap to eight hours
                    },
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            var opts = this.point.options;
                            var count = (opts.count) ? ' (' + opts.count + ')' : '';
                            var color = (opts.meta) ? '#ff0000' : '#000000';
                            if (opts.meta) {
                                var overExtimated = (new Date(opts.meta.estimatedEndTime).getTime() < new Date(opts.meta.endTime).getTime());
                                return overExtimated ? '<span style="color:red;">' + this.point.name + count + '</span>' : this.point.name + count;
                            }
                            return this.point.name + count;
                        },
                        //format: '{point.name}',
                        style: {
                            cursor: 'default',
                            pointerEvents: 'none'
                        }
                    },
                    allowPointSelect: true
                }
            },
            series: [{
                name: 'UC4 JOBS',
                data: data
            }]
        });
    }

    // THE CHART
    var chart = renderChart(allDatas);

</script>